.elevation-1 {box-shadow: 0px 0px 10px @shadow-dark-color;}
.elevation-2 {box-shadow: 0px 2px 15px @shadow-dark-color;}
.elevation-3 {box-shadow: 0px 5px 15px @shadow-dark-color;}
.elevation-4 {box-shadow: 0px 10px 20px @shadow-dark-color;}
.elevation-5 {box-shadow: 0px 20px 25px @shadow-dark-color;}

.spacer{
    display: block;
    clear: both;
    margin: 2em 0;
}