// UI colors
@primary-color: #7579E7;
@danger-color: #FF004D;
@warning-color: #FAEF5D;
@success-color: #45FFCA;
@info-color: #7BC9FF;

// Background colors
@primary-dark-bg-color: #191825;
@secondary-dark-bg-color: #1D2B53;
@primary-light-bg-color: #ffffff;
@secondary-light-bg-color: #f6f6f6;

@shadow-dark-color: #10121c;
@shadow-light-color: #242428;