.container {
    display: block;
    width: @breakpoint-desktop;
    margin: 0 auto;
}

@media screen and (max-width: @breakpoint-desktop) {
    .container, nav.navbar .navbar-content {
        display: block;
        width: @breakpoint-tablet;
        margin: 0 auto;
    }
}

@media screen and (max-width: @breakpoint-tablet) {
    .container, nav.navbar .navbar-content {
        display: block;
        width: 90vw;
        margin: 0 auto;
    }
}

@media screen and (max-width: @breakpoint-mobile) {
    .container, nav.navbar .navbar-content {
        display: block;
        width: 95vw;
        margin: 0 auto;
        padding: 0 10px;
    }
}

.container.fullwidth {
    width: 90vw;
    padding: 0 20px;
}

// sidebar
.container-with-sidebar {
    display: flex;
    justify-content: space-between;

    div.wrapper {
        position: absolute;
        top: 100px;
        left: 10px;
        background-color: #313b65;
        padding: 0 0.5em;
        border-radius: 5px;
        display: none;

        &.open {
            left: 200px;
        }
    }
    
    @media screen and (max-width: @breakpoint-tablet) {
        div.wrapper {
            display: block;
        }
    }

    .sidebar {
        width: 180px;
        background-color: var(--bg-secondary);
        padding: 0 1em;

        @media screen and (max-width: @breakpoint-tablet) {
            display: none;
    
            &.open {
                display: block;
                position: fixed;
                height: 100vh;
                top: 70px;
            }
    
            div.wrapper {
                display: block;
            }
        }        

        div.heading {
            font-weight: bold;
            margin-top: 1em;

            &.success {color: @success-color;}
            &.info {color: @info-color;}
            &.warning {color: @warning-color;}
            &.danger {color: @danger-color;}
        }

        ul {
            margin: 0;
            padding: 0;
            padding-left: 1em;
            list-style: none;

            li {
                margin-bottom: 0.2em;
                a {
                    text-decoration: none;
                }
            }
        }
    }

    .container {
        display: block;
        width: auto;
        margin: 0;
        padding: 0 1em;
        flex: 6;
    }
}

/****************
**** GRID *******
****************/
.grid {
    display: grid;
    row-gap: 1em;
    column-gap: 1em;

    &.gap-2 { column-gap: 2em;}
    &.gap-3 { column-gap: 3em;}
    &.gap-4 { column-gap: 4em;}
    &.gap-5 { column-gap: 5em;}

    &.rgap-2 { row-gap: 2em;}
    &.rgap-3 { row-gap: 3em;}
    &.rgap-4 { row-gap: 4em;}
    &.rgap-5 { row-gap: 5em;}
}

// Columns desktop
.col-1 {grid-template-columns: repeat(1, 1fr);}
.col-2 {grid-template-columns: repeat(2, 1fr);}
.col-3 {grid-template-columns: repeat(3, 1fr);}
.col-4 {grid-template-columns: repeat(4, 1fr);}
.col-5 {grid-template-columns: repeat(5, 1fr);}
.col-6 {grid-template-columns: repeat(6, 1fr);}
.col-7 {grid-template-columns: repeat(7, 1fr);}
.col-8 {grid-template-columns: repeat(8, 1fr);}
.col-9 {grid-template-columns: repeat(9, 1fr);}
.col-10 {grid-template-columns: repeat(10, 1fr);}
.col-11 {grid-template-columns: repeat(11, 1fr);}
.col-12 {grid-template-columns: repeat(12, 1fr);}

// Columns tablet
@media screen and (max-width: @breakpoint-desktop) {
    .col-tablet-1 {grid-template-columns: repeat(1, 1fr);}
    .col-tablet-2 {grid-template-columns: repeat(2, 1fr);}
    .col-tablet-3 {grid-template-columns: repeat(3, 1fr);}
    .col-tablet-4 {grid-template-columns: repeat(4, 1fr);}
    .col-tablet-5 {grid-template-columns: repeat(5, 1fr);}
    .col-tablet-6 {grid-template-columns: repeat(6, 1fr);}
    .col-tablet-7 {grid-template-columns: repeat(7, 1fr);}
    .col-tablet-8 {grid-template-columns: repeat(8, 1fr);}
    .col-tablet-9 {grid-template-columns: repeat(9, 1fr);}
    .col-tablet-10 {grid-template-columns: repeat(10, 1fr);}
    .col-tablet-11 {grid-template-columns: repeat(11, 1fr);}
    .col-tablet-12 {grid-template-columns: repeat(12, 1fr);}
}

// Columns mobile
@media screen and (max-width: @breakpoint-mobile) {
    .col-mobile-1 {grid-template-columns: repeat(1, 1fr);}
    .col-mobile-2 {grid-template-columns: repeat(2, 1fr);}
    .col-mobile-3 {grid-template-columns: repeat(3, 1fr);}
    .col-mobile-4 {grid-template-columns: repeat(4, 1fr);}
    .col-mobile-5 {grid-template-columns: repeat(5, 1fr);}
    .col-mobile-6 {grid-template-columns: repeat(6, 1fr);}
    .col-mobile-7 {grid-template-columns: repeat(7, 1fr);}
    .col-mobile-8 {grid-template-columns: repeat(8, 1fr);}
    .col-mobile-9 {grid-template-columns: repeat(9, 1fr);}
    .col-mobile-10 {grid-template-columns: repeat(10, 1fr);}
    .col-mobile-11 {grid-template-columns: repeat(11, 1fr);}
    .col-mobile-12 {grid-template-columns: repeat(12, 1fr);}
}